<% if logged_in? %>
  <header><a href="/logout">Sign out</a></header>
  <h1>Welcome <%= current_user_name %></h1>
<% else %>
  <header>
    <a href="/register">Sign up</a>
    <a href="/login">Sign in</a>
    <h1>Welcome!</h1>
  </header>
<% end %>
