<% if @user.errors.any? %>
  <div class="errors">
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="form">
  <form id="register" method="post" action="/login">
    <input type="text" name="username" placeholder="username" required/>
    <input type="password" name="password" placeholder="password" minlength="5"/>
    <input type="submit" value="submit"/>
  </form>
</div>